---
---

@import "../_components/meyer-reset/stylesheets/_meyer-reset";
@import "colours";
@import "type";

body {
    line-height: 1.5;
    padding: 3rem;
    font-family: Inconsolata;
}

a {
    text-decoration: none;
    color: $link;

    &:visited {
        color: $link-visited;
    }
}

header {
    margin-bottom: 2rem;
    position: relative;
}

.markdown-body {
    padding: 2rem;
}

.blog__avatar {
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: -3rem;
    top: .3em;
    display: none;
}

.blog__title {
    // margin-bottom: 1rem;
    a {
        color: initial;

        &:hover {
            color: $link-hover;
        }
    }
}

.blog__description {
    font-style: italic;
    font-size: $font-small;
}

.post__link {

}

time {
    font-size: $font-small;
    margin-left: 1em;
}

[itemprop="headline"] {

}

.contact-info {
    display: none;
}

footer {
    font-size: $font-small;
    margin-top: 2rem;
}

.copyright {

}

.icon {

}

.icon-twitter {
    height: $font-small;
    width: auto;
    margin-right: .2em;
    vertical-align: middle;
}
